@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-gradient-yellow {
    background: linear-gradient(221.3deg, #ffd15a 22.23%, #ffecbb 96.67%);
  }
  .bg-custom-gradient-yellow-dark {
    background: linear-gradient(221.3deg, #c3a046 22.23%, #eddfbb 96.67%);
  }


  .bg-custom-gradient-blue {
    background: linear-gradient(50.52deg, #4dc9ff 14%, #bfecff 100%);
  }.bg-custom-gradient-blue-dark{
    background: linear-gradient(47.06deg, #399DC8 14.01%, #B8E9FF 120.12%);
  }
  .bg-custom-circles-dark{
    background: linear-gradient(167.9deg, #51B8FF 9.54%, #246ACF 96.21%);

  }

  .bg-custom-linearGradient {
    background: linear-gradient(
      294.53deg,
      #4899fe 17.41%,
      #54acff 37.51%,
      #7dcbff 65.63%
    );
  }
  .bg-custom-linearGradient-dark {
    background: linear-gradient(
      279.58deg,
      #246acf -4.87%,
      #3689e2 51.48%,
      #51b8ff 88.04%
    );
  }
}
